//====================================================================================================
footer{
	min-height: 300px;
	color:aqua;
	font-size: rem(30);
}
//====================================================================================================
